table {
   font-family: Arial;
 border-collapse: collapse;
    width: 100%
;
}
td, th {
    border: 1px solid blue;
    text-align: left;
    padding: 8px;
}
table tr:nth-child(odd){
    background-color: darkcyan;
}
